/**
 * Customizer modification styles
 *
 * @package    Auberge
 * @copyright  2015 WebMan - Oliver Juhas
 *
 * @since    1.0
 * @version  1.4.8
 */



	/**
	 * Basic custom styles
	 */

		.no-overflow { overflow: hidden; }

		.donation-link,
		.donation-link:hover,
		.donation-link:active {
			display: block;
			width: 100%;
			padding: 1em 0;
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;
			font-size: .81em;
			background: #0aac8e;
			color: #fafcfe;
		}

			.donation-link:hover { letter-spacing: 1px; }

		.customize-control h3,
		.customize-control h4 {
			padding: 1em 20px;
			margin: 2em -20px .5em;
			text-transform: uppercase;
			font-size: 1em;
			letter-spacing: 1px;
			color: #555;
			border-top: 2px solid #bbb;
		}

			.customize-control h4 {
				padding: 1em 0;
				margin: 1em 0 .5em;
				border-top-style: dotted;
			}

			.customize-control:first-child h3:first-child,
			.customize-section-description-container + .customize-control h3:first-child {
				margin-top: 0;
				border: 0;
			}

		.customize-control hr {
			margin: 1em 0;
			background: transparent;
			border: 0;
			border-top: 2px dashed #bbb;
		}



	/**
	 * Controls
	 */

		.customize-control select,
		.customize-control textarea { width: 100%; }

			.customize-control select[multiple] { height: 8em; }

			.customize-control textarea {
				min-height: 12em;
				resize: vertical;
			}

		.customize-control-hidden { display: none !important; }



	/**
	 * Color
	 */

		.customize-control-color .wp-picker-container { display: block; }

			.wp-color-result {
				box-sizing: border-box;
				width: 100%;
				height: 30px;
				padding-left: 50%;
				margin-right: 0;
				border-color: rgba(0, 0, 0, 0.2);
			}

			.wp-color-result:focus,
			.wp-color-result:hover { border-color: rgba(0, 0, 0, 0.3); }

				.wp-color-result:focus::after,
				.wp-color-result:hover::after {
					background: rgba(0, 0, 0, 0.35);
					color: #fff;
					border: 0;
				}

				.wp-color-result::after {
					margin: -1px -1px 0 0;
					line-height: 30px;
					font-weight: 700;
					text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
					background: rgba(0, 0, 0, 0.2);
					color: #fff;
					border: 0;
					box-shadow: none;
				}

			.wp-picker-open + .wp-picker-input-wrap { display: block; }

				.wp-picker-input-wrap .button,
				.wp-picker-input-wrap input[type=text].wp-color-picker { width: 48%; }

				.wp-picker-input-wrap .button { float: right; }

				.wp-picker-container .iris-picker { width: 100% !important; }

					.wp-picker-container .iris-picker .iris-square { margin-right: 5%; }



	/**
	 * Credits
	 */

		#accordion-panel-theme .customize-info .customize-panel-description { display: block; }



/* End of file */