/**
 * Customizer modification styles
 *
 * @package    Auberge
 * @copyright  2014 WebMan - Oliver Juhas
 * @version    1.0
 */



	/**
	 * Basic custom styles
	 */

		.no-overflow { overflow: hidden; }

		.customize-control h3 {
			margin: 2em 0 .5em;
			text-transform: uppercase;
			font-size: 1em;
			color: #aaa;
			border-bottom: 2px solid #d3d3d3;
		}

		.customize-control hr {
			margin: 1em 0;
			background: transparent;
			border: 0;
			border-top: 1px dashed #d3d3d3;
		}

		.donation-link,
		.donation-link:hover,
		.donation-link:active {
			display: block;
			width: 100%;
			padding: 1em 0;
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;
			font-size: .81em;
			background: #0aac8e;
			color: #fafcfe;
		}
			.donation-link:hover { letter-spacing: 1px; }



	/**
	 * Controls
	 */

		.customize-control select,
		.customize-control textarea { width: 100%; }
		.customize-control textarea { resize: vertical; }
		.customize-control-hidden { display: none !important; }

		#customize-control-page_on_front,
		#customize-control-page_for_posts {
			padding: 10px;
			margin-left: -10px;
			border-radius: 5px;
			background: #d7eef4;
		}
		#customize-control-page_for_posts { background: #d7f4e3; }

		/* Hide Custom Background image setup */
			/* #accordion-section-background_image { display: none !important; } */



	/**
	 * Credits
	 */

		#accordion-section-credits .accordion-section-title { display: none; }
		#accordion-section-credits .accordion-section-content { display: block; }



/* End of file