/**
 * WordPress visual editor styles
 *
 * @package    Auberge
 * @copyright  2015 WebMan - Oliver Juhas
 *
 * @since    1.0
 * @version  1.3.3
 */





/**
 * CONTENT:
 *
 *   0. Includes
 *   1. Font icons basics
 *   2. Typography
 *   3. Forms
 *   4. Site content
 * 100. Visual Editor specific styles
 */





/**
 * 0. Includes
 */

	@import url( 'starter.css' );

	@import url( 'colors.css' );





/**
 * 1. Font icons basics
 */

	pre:before {
		font-family: 'Genericons';
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-decoration: inherit;
		text-transform: none;
		-moz-osx-font-smoothing: grayscale;
		 -webkit-font-smoothing: antialiased;
		speak: none;
	}

	.genericon.vertical-align-middle:before   { vertical-align: middle;   }
	.genericon.vertical-align-baseline:before { vertical-align: baseline; }
	.genericon.vertical-align-bottom:before   { vertical-align: bottom;   }





/**
 * 2. Typography
 */

	/**
	 * Base
	 */

		body { font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif; }





/**
 * 3. Forms
 */

		/* Buttons */

			.button,
			button,
			input[type="button"],
			input[type="reset"],
			input[type="submit"] {
				padding: 1em;
				border: 0;
			}
				.button:hover,
				button:hover,
				input[type="button"]:hover,
				input[type="reset"]:hover,
				input[type="submit"]:hover,
				.button:focus,
				button:focus,
				input[type="button"]:focus,
				input[type="reset"]:focus,
				input[type="submit"]:focus,
				.button:active,
				button:active,
				input[type="button"]:active,
				input[type="reset"]:active,
				input[type="submit"]:active { opacity: .75; }

				.button:active,
				button:active,
				input[type="button"]:active,
				input[type="reset"]:active,
				input[type="submit"]:active { opacity: .9; }





/**
 * 4. Site content
 */

	/**
	 * Main content area
	 */

		/**
		 * Media
		 */

			/* Images */

				a img {
					-webkit-transition: all .4s ease-in-out;
					        transition: all .4s ease-in-out;
				}
					a img:hover {
						-webkit-box-shadow: 0 1rem .62rem -.62rem rgba(0,0,0, .25);
						        box-shadow: 0 1rem .62rem -.62rem rgba(0,0,0, .25);
					}



		/**
		 * Content columns
		 */

			.column {
				float: left;
				margin: 0 6% 0 0;
			}
			.column.last { margin-right: 0; }

				.column-12 { width: 47%;    }
				.column-13 { width: 29.33%; }
				.column-23 { width: 64.66%; }
				.column-14 { width: 21%;    }
				.column-34 { width: 73%;    }





/**
 * 100. Visual Editor specific styles
 */

	body {
		width: 100%;
		max-width: 632px !important;
		background: #fff;
		color: #6a6c6e;
	}
	#tinymce {
		padding: 20px;
		border-right: 2px dashed #eaecee;
	}
	body.wp-autoresize { padding: 20px !important; }



	/**
	 * Media player
	 */

		body .mejs-container,
		body .wp-playlist { margin: 0 !important; }
		.wpview-content { margin: 0 0 1.62em; }



		/**
		 * MediaElement player custom styles
		 */

			/* Player */

				body .mejs-container {
					min-height: 50px;
					margin: 1.62em 0;
				}
				body .mejs-video { width: 100% !important; }

					body .mejs-overlay-button { margin: -50px 0 0 -50px !important; }

					body .mejs-container .mejs-controls {
						height: 50px;
						padding: 0 20px;
						background: #2a2c2e;
					}
						body .mejs-container .mejs-controls div { margin-top: 10px; }
						body .mejs-container .mejs-controls button {
							-webkit-box-shadow: none;
							        box-shadow: none;
						}
						body .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total { background: #1a1c1e; }
						body .mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded {
							height: 6px;
							margin-top: 2px;
							background: #3a3c3e;
							border-radius: 0;
						}
						body .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current { background: #6a6c6e; }

			/* Playlist */

				body .wp-playlist {
					padding: 1.62em;
					margin: 1.62em 0;
					background-color: #eaecee;
					border: 0;
				}

					body .wp-playlist-current-item { margin-bottom: 1em; }

					body .wp-playlist .mejs-container { width: 100% !important; }

					body .wp-playlist-tracks { margin-top: 1em; }
						body .wp-playlist-item {
							padding: .62em 0;
							border-color: #caccce;
						}
						body .wp-playlist .wp-playlist-playing { background: transparent; }
							body .wp-playlist-item-length { margin-top: .62em; }

			/* WP Audio modifications */

				body .wp-audio-playlist .mejs-container { height: 50px !important; }

			/* WP Video modifications */

				.mejs-container video { height: auto; }

				.entry-media .mejs-container,
				.entry-media .wp-playlist { margin: 0; }

				.wp-video .mejs-controls,
				.wp-video-playlist .mejs-controls { visibility: hidden; }
					.wp-video:hover .mejs-controls,
					.wp-video-playlist:hover .mejs-controls { visibility: visible; }

				.wp-video .mejs-layer,
				.wp-video-playlist .mejs-layer {
					width: 100% !important;
					height: 100% !important;
				}



	/**
	 * WP Captions
	 */

		.wp-caption-dd { margin-top: 1em; }



	/**
	 * Tables
	 */

		.mce-item-table,
		.mce-item-table td,
		.mce-item-table th,
		.mce-item-table caption,
		thead + tbody tr:first-child td,
		thead + tbody tr:first-child th {
			border-width: 1px;
			border-style: solid;
			border-color: #eaecee;
		}



	/**
	 * Pullquotes
	 */

			blockquote.alignleft { margin-left: 0; }
			blockquote.alignright { margin-right: 0; }


	/**
	 * Responsive media
	 */

		img,
		embed,
		iframe,
		object,
		video {
			max-width: 100%;
			/*height: auto;*/
		}
		embed,
		iframe,
		object,
		video { width: 100% !important; }



/* End of file */