/* FILE: _setup.scss */

//
// Stylesheets setup.
//
// @package    Auberge
// @copyright  WebMan Design, Oliver Juhas
//
// @since    2.2.0
// @version  2.6.0
//

// Theme options

	$customize_options: (

		// Colors

			'color-accent': #0aac8e,
			'color-accent-text': #ffffff,

			'color-header': #1a1c1e,
			'color-header-text': #ffffff,

			'color-front-widgets': #1a1c1e,
			'color-front-widgets-text': #8a8c8e,

			'color-footer': #1a1c1e,
			'color-footer-text': #8a8c8e,

		// Layout

			'layout-width-site': 1640px,
			'layout-width-content': 1020px,

		// Typography

			'font-size-body': 16px,
			'font-family-logo': ( 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif ),
			'font-family-headings': ( 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif ),
			'font-family-body': ( 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif ),

		// Colors Plus
		// @package  Auberge Plus
		// @see "// Plus" in custom SCSS files.

			'color-navigation': #3a3c3e, // Plus
			'color-navigation-text': #fff, // Plus
			'color-navigation-border': #4a4c4e, // Plus

			'color-content': #fff, // Plus
			'color-content-text': #6a6c6e, // Plus
			'color-content-headings-text': #1a1c1e, // Plus
			'color-content-border': #eaecee, // Plus

	);



// Typography

	// Starter CSS backwards compatibility

		$font_size: map_get( $customize_options, 'font-size-body' ) / 1px; // "/ 1px" makes the value unitless.

	// Headings

		$h_tags_setup: (

			// $selector : (
			//   $size
			//   $line_height
			//   $margin_top
			//   $margin_bottom
			// )

			'h1, .h1' : (
				1.62,
				1.38,
				2.3 / 1.62,
				1.62 / 1.62
			),

			'h2, .h2' : (
				1.38,
				1.38,
				2.3 / 1.38,
				1.62 / 1.38
			),

			'h3, .h3' : (
				1.24,
				1.38,
				2.3 / 1.24,
				1.62 / 1.24
			),

			'h4, .h4' : (
				1.15,
				1.38,
				2.3 / 1.15,
				1.62 / 1.15
			),

			'h5, .h5' : (
				1.15,
				1.38,
				2.3 / 1.15,
				1.62 / 1.15
			),

			'h6, .h6' : (
				1.15,
				1.38,
				2.3 / 1.15,
				1.62 / 1.15
			),

		) !default;



// Others

	//
	// Breakpoints info:
	//
	// 's'     :  448, // =  28em // Starting mobile landscape
	// 'm'     :  672, // =  42em // Starting tablet portrait
	// 'l'     :  880, // =  55em // Starting tablet landscape
	// 'xl'    : 1280, // =  80em // Starting laptop
	// 'xxl'   : 1600, // = 100em // Starting desktop
	// 'xxxl'  : 1920, // = 120em // Starting desktop full HD
	// 'xxxxl' : 2560, // = 160em // Starting desktop WQHD
	//

	// Entry meta

		$entry_meta_icons: (

			// class: char

			'author':          '\f304',
			'cat-links':       '\f301',
			'comments-link a': '\f300',
			'entry-date':      '\f303',
			'tags-links':      '\f302',

			'entry-likes a': '\f461',
			'entry-edit':    '\f411',

		);
