/* FILE: main/menu/_primary-expander.scss */

//
// Sub-menu expander
//





.main-navigation .expander {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	right: 0;
	top: 50%;
	padding: 0;
	margin-left: 2px;
	border: 1px solid;
	opacity: .5;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}
		@media only screen and (max-width: 55em) {

						.main-navigation .expander {
							display: none;
						}
		}

	.main-navigation .expander:after,
	.main-navigation .expander:before {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		border: 1px solid;
	}

		.main-navigation .expander:before {
			width: 8px;
			height: 2px;
			margin: -1px -4px;
		}

		.main-navigation .expander:after{
			width: 2px;
			height: 8px;
			margin: -4px -1px;
		}

.main-navigation li li .expander {
	right: 1em;
}

	.main-navigation li:hover > a .expander:after,
	.main-navigation li.focus > a .expander:after {
		display: none;
	}

.main-navigation li.menu-item-has-children > a {
	padding-right: 1.62em;
}

.main-navigation li li.menu-item-has-children > a {
	padding-right: 3em;
}
