/* FILE: main/menu/_primary-description.scss */

//
// Primary menu item description text
//





.menu-item-description {
	@extend %font_size_small;
	display: block;
	text-transform: uppercase;
	opacity: .5;

	.main-navigation .menu > ul > li > a & {
		display: none;
	}

}
