/* FILE: main/menu/__social.scss */

//
// Social links menu
//





.social-links {
	clear: both;
	margin-top: 1em;
	line-height: 1;
	font-size: nth( map_get( $h_tags_setup, 'h3, .h3' ), 1 ) +em;

	@include responsive( map_get( $breakpoint, 'l' ) ) {
		clear: none;
		float: $right; // {{RTL}}
		margin-top: 0;
	}

	.site-header & {
		margin-top: .38em;
		line-height: inherit;

		@include responsive( map_get( $breakpoint, 'm' ) ) {
			margin-top: 0;
		}

	}

	.widget_nav_menu & {
		float: none;
	}

	.social-links-items {
		margin: 0;
		list-style: none;
	}

	li {
		text-align: center;
		display: inline-block;

		.widget_nav_menu & {
			font-size: 1.38em;
			border: 0;

			&::before {
				display: none;
			}

			&:hover {
				transform: none;
			}

		}

	}

	a {
		display: block;
		margin: 1px; // For focus outline to be visible in whole.
		text-decoration: none;
		color: inherit;
		opacity: .5;
		transition: opacity .4s;

		@include responsive( map_get( $breakpoint, 'xl' ) ) {
			padding-left: $golden_minor / 2 +em;
			padding-right: $golden_minor / 2 +em;
		}

		&:hover {
			text-decoration: none;
			opacity: 1;
		}

		&.back-to-top {
			@extend %font_weight_400;

			&::before {
				@extend %genericon;
				content: '\f435';
				display: inline-block;
				padding: 0 ( $golden_minor +em );
				vertical-align: top;
			}

		}

		.widget_nav_menu & {
			opacity: 1;
		}

	}

}



body:not(.sticky-header) .site-header .back-to-top {
	display: none;
}
