/* FILE: main/menu/__social.scss */

//
// Social links menu
//





.social-links {
	float: right;
	line-height: 1;
	font-size: nth( map_get( $h_tags_setup, 'h3, .h3' ), 1 ) +em;
}

		.site-header .social-links {
			line-height: inherit;
		}

		@media only screen and (max-width: 42em) {
					.social-links,
					.site-header .social-links {
						float: none;
						clear: both;
						margin-top: 1em;
					}

					.site-header .social-links {
						margin-top: .38em;
					}

						.site-header .social-links li {
							float: none;
							display: inline;
						}
							.site-header .social-links a {
								padding: 0 .38em 0 0;
							}
		}

	.social-links ul {
		margin: 0;
		list-style: none;
		overflow: hidden;
	}

		.social-links li {
			float: left;
		}

			.social-links a {
				padding-left: .62em;
				color: inherit;
				opacity: .5;
				-webkit-transition: all .4s;
				        transition: all .4s;
			}

				@media only screen and (max-width: 80em) {

					.social-links a {
						padding-left: .38em;
					}

				}

				.social-links a:hover {
					text-decoration: none;
					opacity: 1;
				}

				.social-links a:before {
					@extend %genericon;
					content: '';
					display: inline-block;
					vertical-align: top;
				}

				.back-to-top {
					@extend %font_weight_400;
				}

				.social-links a.back-to-top:before {
					content: '\f435';
					padding: 0 .38em;
				}

					body:not(.sticky-header) .site-header .back-to-top {
						display: none;
					}

				.social-links a[href^="http"]:before,
				.social-links .website a:before                  { content: '\f475'; }

				.social-links a[href*="mailto:"]:before,
				.social-links .email a:before                    { content: '\f410'; }

				.social-links a[href*="/feed/"]:before,
				.social-links .rss a:before                      { content: '\f413'; }


				.social-links a[href*="codepen.io"]:before,
				.social-links .codepen a:before                  { content: '\f216'; }

				.social-links a[href*="digg.com"]:before,
				.social-links .digg a:before                     { content: '\f221'; }

				.social-links a[href*="dribbble.com"]:before,
				.social-links .dribbble a:before                 { content: '\f201'; }

				.social-links a[href*="dropbox.com"]:before,
				.social-links .dropbox a:before                  { content: '\f225'; }

				.social-links a[href*="facebook.com"]:before,
				.social-links .facebook a:before                 { content: '\f204'; }

				.social-links a[href*="flickr.com"]:before,
				.social-links .flickr a:before                   { content: '\f211'; }

				.social-links a[href*="foursquare.com"]:before,
				.social-links .foursquare a:before               { content: '\f226'; }

				.social-links a[href*="github.com"]:before,
				.social-links .github a:before                   { content: '\f200'; }

				.social-links a[href*="instagram.com"]:before,
				.social-links .instagram a:before                { content: '\f215'; }

				.social-links a[href*="linkedin.com"]:before,
				.social-links .linkedin a:before                 { content: '\f207'; }

				.social-links a[href*="pinterest.com"]:before,
				.social-links .pinterest a:before                { content: '\f209'; }

				.social-links a[href*="plus.google.com"]:before,
				.social-links .google-plus a:before              { content: '\f218'; }

				.social-links a[href*="getpocket.com"]:before,
				.social-links .pocket a:before                   { content: '\f224'; }

				.social-links a[href*="polldaddy.com"]:before,
				.social-links .polldaddy a:before                { content: '\f217'; }

				.social-links a[href*="reddit.com"]:before,
				.social-links .reddit a:before                   { content: '\f222'; }

				.social-links a[href*="skype:"]:before,
				.social-links .skype a:before                    { content: '\f220'; }

				.social-links a[href*="spotify.com"]:before,
				.social-links .spotify a:before                  { content: '\f515'; }

				.social-links a[href*="stumbleupon.com"]:before,
				.social-links .stumbleupon a:before              { content: '\f223'; }

				.social-links a[href*="tumblr.com"]:before,
				.social-links .tumblr a:before                   { content: '\f214'; }

				.social-links a[href*="twitch.tv"]:before,
				.social-links .twitch a:before                   { content: '\f516'; }

				.social-links a[href*="twitter.com"]:before,
				.social-links .twitter a:before                  { content: '\f202'; }

				.social-links a[href*="vimeo.com"]:before,
				.social-links .vimeo a:before                    { content: '\f212'; }

				.social-links a[href*="wordpress.org"]:before,
				.social-links a[href*="wordpress.com"]:before,
				.social-links .wordpress a:before                { content: '\f205'; }

				.social-links a[href*="youtube.com"]:before,
				.social-links .youtube a:before                  { content: '\f213'; }
