/* FILE: starter/sidebar/__widgets.scss */

//
// Global basic widget styles
// WordPress native widgets styles
//





// Global basic widget styles

	.widget {

		.sidebar & {
			margin: 0 0 ( power( $golden, 2 ) +em );

			&:last-child {
				margin-bottom: 0;
			}

		}

		ul {
			margin: 0;
			list-style: none;

			li {
				padding: ( $golden_minor +em ) 0;
				border-top-width: 1px;
				border-top-style: solid;
				border-bottom-width: 1px;
				border-bottom-style: solid;

				+ li {
					margin-top: -1px;
				}

				ul {
					position: relative;
					bottom: $golden_minor * -1em;
					margin: 0 0 -1px;
				}

				li {
					padding-#{$left}: 1em; // {{RTL}}
				}

			}

		}

	}



// Calendar widget

	.widget_calendar {

		caption {
			@extend %font_style_normal;
			@extend %font_weight_700;
			text-align: center;
			caption-side: top;
		}

		table {
			margin: 0;
		}

		tr {

			th,
			td {
				width: auto;
				height: power( $golden, 2 ) +em;
				padding: 0;
				text-align: center;
			}

		}

		tbody {

			a {
				display: block;
				width: 100%;
				height: 100%;
				line-height: power( $golden, 2 );
			}

		}

		tfoot {

			a {
				color: inherit;
			}

		}

	}



// Custom Menu widget

	.widget .current-menu-item,
	.widget .current_page_item {

		> a {
			@extend %font_weight_700;
		}

	}



// Recent Comments widget
// Recent Posts widget
// ZillaLikes widget

	ul {

		li {

			.widget_recent_comments &,
			.widget_recent_entries &,
			.widget_zilla_likes_widget & {
				position: relative;
				padding-#{$left}: $golden +em; // {{RTL}}
			}

		}

	}

	.widget_recent_entries {

		.post-date {
			display: block;
		}

	}



// Tag Cloud widget

	.tagcloud {
		@extend %line_height_golden;

		.widget & {

			a {
				float: $left; // {{RTL}}
				position: relative;
				display: inline-block;
				width: auto;
				padding: ( $golden_minor / 2 +em ) ( $golden_major +em );
				margin: 2px 2px 0;
				margin-#{$left}: 0; // {{RTL}}
				white-space: nowrap;
				font-size: 1em !important;
				background-color: transparent;
				color: inherit;
				border-width: 1px;
				border-style: solid;
				z-index: 0;
				transition: background .3s, color .3s, border .3s, opacity .3s;
			}

			&:hover,
			&:focus,
			&:active {

				a {
					opacity: .33;
				}

			}

			a {

				&:hover,
				&:focus,
				&:active {
					text-decoration: none;
					z-index: 1;
					opacity: 1;

					&::before {
						display: block;
					}

				}

				&::before {
					content: attr(title);
					position: absolute;
					display: none;
					#{$left}: 100%; // {{RTL}}
					top: -1px;
					padding: ( $golden_minor / 2 +em ) ( $golden_major +em );
					pointer-events: none;
					border-width: 1px;
					border-style: solid;
				}

			}

		}

	}



// Text widget

	.widget_text,
	.tagcloud {
		@extend .clearfix;
	}
