/* FILE: main/header/_header.scss */

//
// Site header
//





// Site header

	.site-header {
		position: relative;
		padding: 0 4%;
		line-height: 5rem;
		z-index: 999;
	}

		.site-header-inner {
			max-width: 1920px;
			margin: 0 auto;
		}

		@media only screen and (max-width: 55em) {
				.site-header {
					padding: 1.62rem 1rem 1.62rem 5.24rem;
					line-height: 2;
				}
			}



// Imports

	@import '_sticky';

	@import '_branding';

	@import '_banner';

