/* FILE: main/content/__loop.scss */

//
// Posts list (loop) styles
//





.posts {
	margin: 0 -1%;
}

	.posts .entry {
		float: left;
		position: relative;
		width: 31.333%;
		padding: 1.62rem;
		margin: 0 1% 2%;
		border: 2px solid;
		-webkit-transition: border-color .6s;
		        transition: border-color .6s;
	}

		@media only screen and (max-width: 55em) {

					.posts .entry {
						width: 48%;
					}
		}

		@media only screen and (max-width: 42em) {
					.posts .entry {
						float: none;
						width: 96%;
						margin-bottom: 8%;
					}
		}

		.posts .entry-title {
			margin-bottom: 1rem;
			letter-spacing: 0;
			font-size: nth( map_get( $h_tags_setup, 'h3, .h3' ), 1 ) +em;
		}

		.posts .entry-content {
			padding: 0;
		}

			.posts .entry-media + .entry-content {
				margin-top: 1.62rem;
			}

			.posts .entry-content p {
				margin-bottom: 1rem;
			}

			.link-more {
				margin-bottom: 1.62em;
			}



// Search results list

	.posts .type-page:before,
	.posts .type-nova_menu_item:before,
	.search-results-listing .type-post:before {
		@extend %genericon;
		display: inline-block;
		width: 2rem;
		height: 2rem;
		margin-bottom: 1rem;
		line-height: 2rem;
		text-align: center;
		font-size: 1.38rem;
		border: 1px solid;
		border-radius: 50%;
	}

		.search-results-listing .type-post:before {
			content: '\f411';
		}

		.posts .type-page:before {
			content: '\f443';
		}

		.posts .type-nova_menu_item:before {
			content: '\e603';
			font-family: 'nova-font';
		}



// Archives

	.taxonomy-description {
		@extend %font_style_italic;
		padding: 0 19%;
		margin-bottom: 10%;
		text-align: center;
	}
