/* FILE: main/content/__post.scss */

//
// Post styles
//





// Excerpt

	.single .entry-summary,
	.entry-summary.has-more-tag {
		@extend %font_weight_400;
		text-transform: uppercase;
	}

	.link-more {
		@extend %font_weight_400;
	}



// Content

	.is-singular .site-main > .entry {
		position: relative;
		float: left;
		width: 62%;
	}

		@media only screen and (max-width: 55em) {
				.is-singular .site-main > .entry {
					float: none;
					width: 100%;
				}
		}
