/* FILE: main/content/__wp.scss */

//
// WordPress default styles
//





// Image caption

	.wp-caption .wp-caption-text {
		opacity: .75;
	}



// Sticky post

	.label-sticky {
		position: absolute;
		display: block;
		width: 32px;
		height: 32px;
		#{$right}: 0; // {{RTL}}
		top: 0;
		line-height: 28px;
		text-align: center;
		z-index: 10;

		&::before,
		&::after {
			content: '';
			position: absolute;
			display: block;
			border-width: 16px;
			border-style: solid;

			.site & {
				border-bottom-color: transparent;
				border-#{$left}-color: transparent;
			}

		}

		&::before {
			#{$right}: 100%; // {{RTL}}
			top: 0;
		}

		&::after {
			#{$right}: 0; // {{RTL}}
			top: 100%;
		}

	}



// Media player

	.mejs-container {
		margin-bottom: 1.62em;

		&::last-child {
			margin-bottom: 0;
		}

	}
