/* FILE: main/headings/_headings.scss */

//
// Headings
//





// Basic headings styles

	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		@extend %font_weight_400;
		clear: both;
		padding: 0;
		overflow-wrap: break-word;
		word-wrap: break-word;
		hyphens: auto;
		text-rendering: optimizeLegibility; // https://developer.mozilla.org/en-US/docs/CSS/text-rendering
		text-transform: uppercase;

		&:first-child {
			margin-top: 0;
		}

		a {
			text-decoration: none;
			color: inherit;
		}

	}

	h1, h2, h3,
	.h1, .h2, .h3 {
		letter-spacing: .1em;
	}



// Imports

	@import '_entry-header';

	@import '_widget-title';
