/* FILE: custom-styles.scss */
/* FILE: _setup.scss */
/* FILE: custom/_custom.scss */
/* FILE: custom/__base.scss */
body { background-color: #eaecee; color: #6a6c6e; color: var(--color-content-text); }

.site, .page-section .posts .entry { background-color: #fff; background-color: var(--color-content); }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: #1a1c1e; color: var(--color-content-headings-text); }

hr, code, pre { background-color: #eaecee; color: #6a6c6e; background-color: var(--color-content-border); color: var(--color-content-text); }

button, input, select, textarea, tbody tr:hover td, tbody tr:hover th { background-color: rgba(0, 0, 0, 0.05); }

.button, button, input[type="button"], input[type="reset"], input[type="submit"] { box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.2); }

.button:active, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active { box-shadow: inset 0 100px 0 rgba(0, 0, 0, 0.2); }

.gallery-caption, .widget .tagcloud a:before { background-color: #2a2c2e; color: #caccce; }

.gallery-caption { background-color: rgba(0, 0, 0, 0.8); }

::-webkit-input-placeholder { color: inherit; opacity: .66; }

::-moz-placeholder { color: inherit; opacity: .66; }

:-ms-input-placeholder { color: inherit; opacity: .66; }

::placeholder { color: inherit; opacity: .66; }

:disabled::-webkit-input-placeholder { color: inherit; opacity: .66; }

:disabled::-moz-placeholder { color: inherit; opacity: .66; }

:disabled:-ms-input-placeholder { color: inherit; opacity: .66; }

:disabled::placeholder { color: inherit; opacity: .66; }

::-moz-selection { background: #fafcbe; color: #6a6c2e; }

::selection { background: #fafcbe; color: #6a6c2e; }

/* FILE: custom/__accent.scss */
a, .accent-color { color: #0aac8e; color: var(--color-accent); }

mark, ins, .highlight, pre::before, .pagination a, .pagination span, .label-sticky, .button, button, form button, .fl-node-content button, input[type="button"], input[type="reset"], input[type="submit"], .menu-group-nav a, .post-navigation .nav-previous, .post-navigation .nav-next, .bypostauthor > .comment-body .comment-author::before, .comment-navigation a, .widget_calendar tbody a, .widget .tagcloud a:hover, body #infinite-handle span, .rtb-message, .site-content div.sharedaddy .sd-content ul li a.sd-button:not(.no-text) { background-color: #0aac8e; color: #ffffff; background-color: var(--color-accent); color: var(--color-accent-text); }

mark, ins, .highlight { box-shadow: 0.38em 0 0 #0aac8e, -0.38em 0 0 #0aac8e; box-shadow: 0.38em 0 0 var(--color-accent), -0.38em 0 0 var(--color-accent); }

.post-navigation .nav-previous::before { background: #0aac8e; background: linear-gradient(to left, transparent 19%, #0aac8e 81%); background: var(--color-accent); background: linear-gradient(to left, transparent 19%, var(--color-accent) 81%); }

[dir="rtl"] .post-navigation .nav-previous::before { background: linear-gradient(to right, transparent 19%, #0aac8e 81%); background: linear-gradient(to right, transparent 19%, var(--color-accent) 81%); }

.post-navigation .nav-next::before { background: #0aac8e; background: linear-gradient(to right, transparent 19%, #0aac8e 81%); background: var(--color-accent); background: linear-gradient(to right, transparent 19%, var(--color-accent) 81%); }

[dir="rtl"] .post-navigation .nav-next::before { background: linear-gradient(to left, transparent 19%, #0aac8e 81%); background: linear-gradient(to left, transparent 19%, var(--color-accent) 81%); }

/* FILE: custom/__header.scss */
.site-header { background-color: #1a1c1e; color: #ffffff; background-color: var(--color-header); color: var(--color-header-text); }

.nav-search-form .form-search { background-color: #0aac8e; background-color: var(--color-accent); }

.nav-search-form .search-field { background-color: #fff; color: #6a6c6e; }

/* FILE: custom/__menu.scss */
.main-navigation { border-color: #4a4c4e; border-color: var(--color-navigation-border); }

.main-navigation li ul { background-color: #3a3c3e; color: #fff; background-color: var(--color-navigation); color: var(--color-navigation-text); }

.main-navigation .menu li li:hover > a, .main-navigation .menu li li > a:hover, .main-navigation .menu li li.active-menu-item > a { background-color: #4a4c4e; background-color: var(--color-navigation-border); }

@media only screen and (max-width: 54.9375em) { .main-navigation-inner { background-color: #3a3c3e; background-color: var(--color-navigation); }
  .main-navigation ul a { color: #fff; color: var(--color-navigation-text); }
  .main-navigation .menu a:hover, .main-navigation .menu li:hover > a, .main-navigation .menu li li:hover > a, .main-navigation .menu li.active-menu-item > a, .main-navigation .menu li li.active-menu-item > a { background: transparent; color: #fff; color: var(--color-navigation-text); }
  .main-navigation .menu li.current-menu-item > a, .main-navigation .menu li li.current-menu-item > a { background-color: #4a4c4e; background-color: var(--color-navigation-border); }
  .menu-toggle, .menu-toggle:hover, .menu-toggle:active, .menu-toggle:focus { background: transparent; }
  .menu-toggle::before { background: #0aac8e; background: var(--color-accent); } }

/* FILE: custom/__banner.scss */
.site-banner { background-color: #1a1c1e; color: #ffffff; background-color: var(--color-front-widgets); color: var(--color-accent-text); }

.custom-banner::before, .site-banner-media::before { background: transparent; background: linear-gradient(transparent, #1a1c1e); background: linear-gradient(transparent, var(--color-front-widgets)); }

/* FILE: custom/__sidebar.scss */
.front-page-widgets-wrapper { background-color: #1a1c1e; color: #8a8c8e; background-color: var(--color-front-widgets); color: var(--color-front-widgets-text); }

/* FILE: custom/__footer.scss */
.site-footer { background-color: #1a1c1e; color: #8a8c8e; background-color: var(--color-footer); color: var(--color-footer-text); }

/* FILE: custom/__plugins.scss */
.infinite-loader .spinner > div > div { background-color: #0aac8e !important; background-color: var(--color-accent) !important; }

.site-content div.sharedaddy .sd-content ul li a.sd-button:not(.no-text) { color: #ffffff !important; color: var(--color-accent-text) !important; }

/* FILE: custom/__borders.scss */
.site { border-color: #eaecee; border-color: var(--color-content-border); }

input:focus, select:focus, textarea:focus, .label-sticky::before, .label-sticky::after, .posts .entry:hover, .widget .tagcloud a:hover, .site .picker__input.picker__input--active { border-color: #0aac8e; border-color: var(--color-accent); }
