@charset "UTF-8";
/* FILE: slick.scss */
/* FILE: _setup.scss */
/* FILE: main/slick/__default.scss */
/* Slider */
.slick-slider { position: relative; display: block; box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }

.slick-list:focus { outline: none; }

.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list { -webkit-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }

.slick-track:before, .slick-track:after { content: ""; display: table; }

.slick-track:after { clear: both; }

.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }

[dir="rtl"] .slick-slide { float: right; }

.slick-slide img { display: block; }

.slick-slide.slick-loading img { display: none; }

.slick-slide.dragging img { pointer-events: none; }

.slick-initialized .slick-slide { display: block; }

.slick-loading .slick-slide { visibility: hidden; }

.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-arrow.slick-hidden { display: none; }

/* FILE: main/slick/__custom.scss */
.site-banner .slick-slider .slider-nav, .site-banner .slick-slider .slick-dots { position: relative; height: 0; padding: 0; }

.site-banner .slider-nav { z-index: 1; }

.site-banner .slider-nav, .site-banner .slick-dots { width: 88%; max-width: 1020px; padding: 0 19rem; padding-left: 0; margin: 0 auto; text-transform: none; letter-spacing: 2px; color: inherit; }

.site-banner .slick-prev, .site-banner .slick-next { display: inline-block; position: absolute; width: 2em; height: 2em; bottom: 1rem; padding: 0; margin: 0; text-align: center; font-size: 1em; background-color: transparent; color: #fff; border-width: 1px; border-style: solid; border-radius: 50%; opacity: .5; transition: opacity .4s ease-in-out; }

@media only screen and (min-width: 55em) { .site-banner .slick-prev, .site-banner .slick-next { width: 4.25em; height: 4.25em; bottom: 5.25em; } }

.site-banner .slick-prev .genericons-neue, .site-banner .slick-next .genericons-neue { font-size: 1.62em; vertical-align: middle; }

.site-banner .slick-prev.slick-disabled, .site-banner .slick-next.slick-disabled { opacity: .25; }

.site-banner .slick-prev { right: 2.62em; }

@media only screen and (min-width: 55em) { .site-banner .slick-prev { right: 5.25em; } }

.site-banner .slick-next { right: 0; }

.site-banner .slick-prev:hover, .site-banner .slick-next:hover, .site-banner .slick-dots .slick-active button { opacity: 1; }

.site-banner .slick-dots { bottom: 7.75em; list-style: none; text-align: right; z-index: 0; }

@media only screen and (max-width: 54.9375em) { .site-banner .slick-dots { display: none !important; } }

.site-banner .slick-dots li { display: inline-block; margin-left: .62em; }

.site-banner .slick-dots button { text-indent: -999em; width: .62em; height: .62em; padding: 0; background: transparent; border-width: 1px; border-style: solid; border-radius: 50%; overflow: hidden; opacity: .5; }

.site-banner .slick-slider .slick-dots { padding-right: 10.5em; }

.slick-slider .genericons-neue::before { content: ""; }

.slick-next .genericons-neue::before { content: ""; }
