/* FILE: custom/__plugins.scss */

//
// Plugins colors
//





// Jetpack

	.infinite-loader .spinner > div > div {
		background-color: map_get( $customize_options, 'color-accent' ) !important;
		background-color: var(--color-accent) !important;
	}

	.site-content div.sharedaddy .sd-content ul li a.sd-button:not(.no-text) {
		color: map_get( $customize_options, 'color-accent-text' ) !important;
		color: var(--color-accent-text) !important;
	}
