/* FILE: custom/__plugins.scss */

//
// Plugins colors
//





// Jetpack

	.infinite-loader .spinner > div > div {
		/*[*/
		background-color: map_get( $colors, 'accent' ) !important;
		/*]*/
		/*//
		background-color: [[color_accent]] !important;
		//*/
	}

	.site-content div.sharedaddy .sd-content ul li a.sd-button:not(.no-text) {
		/*[*/
		color: map_get( $colors, 'accent_text' ) !important;
		/*]*/
		/*//
		color: [[color_accent_text]] !important;
		//*/
	}
