/* FILE: custom/__typography.scss */

//
// Theme typography
//





html {
	font-family: map_get( $customize_options, 'font-family-body' );
	font-family: var(--font-family-body);

	@include responsive( map_get( $breakpoint, 's' ) ) {
		font-size: map_get( $customize_options, 'font-size-body' );
		font-size: var(--font-size-body);
	}

}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: map_get( $customize_options, 'font-family-headings' );
	font-family: var(--font-family-headings);
}

.site-title {
	font-family: map_get( $customize_options, 'font-family-logo' );
	font-family: var(--font-family-logo);
}
