/* FILE: custom/__typography.scss */

//
// Theme typography
//





/*//

	html {
		font-family: [[font_family_body]]'Helvetica Neue', Helvetica, Arial, sans-serif;
		font-size: [[font_size_body]]px;
	}

	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: [[font_family_headings]]'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	.site-title {
		font-family: [[font_family_logo]]'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

//*/
