/* FILE: main/base/__classes.scss */

//
// CSS classes
//





// Generic utility

	.no-wrap {
		@include responsive( map_get( $breakpoint, 'l' ) ) {
			white-space: nowrap;
		}
	}

	.text-#{$left} {
		text-align: $left !important; // {{RTL}}
	}

	.text-center {
		text-align: center !important;
	}

	.text-#{$right} {
		@include responsive( map_get( $breakpoint, 'm' ) ) {
			text-align: $right !important; // {{RTL}}
		}
	}

	.mt0 {
		margin-top: 0 !important;
	}

	.mb0 {
		margin-bottom: 0 !important;
	}

	.zindex-10 {
		position: relative;
		z-index: 10;
	}



// Dropcaps

	.dropcap-text {

		&::first-letter {
			float: $left; // {{RTL}}
			display: block;
			padding: 0 ( $golden_minor / 2 +em );
			padding-#{$left}: 0; // {{RTL}}
			line-height: 1;
			font-size: power( $golden, 2 ) +em;

			@include responsive( map_get( $breakpoint, 'xl' ) ) {
				font-size: power( $golden, 3 ) +em;
			}

		}

	}



// Content columns

	.column {
		width: 100%;
		margin: 0 0 1.62em;

		@include responsive( map_get( $breakpoint, 'l' ) ) {
			float: $left; // {{RTL}}
			margin: 0 6%;
			margin-#{$left}: 0; // {{RTL}}
		}

		&.last {
			margin-#{$right}: 0; // {{RTL}}
		}

		&-12 {
			width: 47%;
		}
		&-13 {
			width: 29.33%;
		}
		&-23 {
			width: 64.66%;
		}
		&-14 {
			width: 21%;
		}
		&-34 {
			width: 73%;
		}

	}
