/* FILE: main/forms/__buttons.scss */

//
// Generic button style
//






.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 1em;
	white-space: nowrap;
	border: 0;
	cursor: pointer;
	-webkit-transition: all .3s;
	        transition: all .3s;
}

	.button:hover,
	.button:focus,
	.button:active {
		text-decoration: none;
	}

	.button:hover,
	button:hover,
	input[type="button"]:hover,
	input[type="reset"]:hover,
	input[type="submit"]:hover,
	.button:focus,
	button:focus,
	input[type="button"]:focus,
	input[type="reset"]:focus,
	input[type="submit"]:focus,
	.button:active,
	button:active,
	input[type="button"]:active,
	input[type="reset"]:active,
	input[type="submit"]:active {
		opacity: .75;
	}

	.button:active,
	button:active,
	input[type="button"]:active,
	input[type="reset"]:active,
	input[type="submit"]:active {
		opacity: .9;
	}
